h1 {
  text-align: center;
  text-transform: uppercase;
}
body {
  background-color: #b57edc;
  color: black;
  font-family: monospace;
  font-size: 40px;
  letter-spacing: 10px;
  /* margin can control top, right, bottom, and left in that order*/
  margin: 50px 100px;
}
a {
  color: navy;
  text-decoration: none;
}
a:hover {
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 25px 0 0 0;
}
#images {
  margin: 0;
  text-align: center;
}
#images img {
  max-width: 100%;
  margin: 25px 0:
}
