body {
  margin: 0;
  background-color: red;
}
.container {
  width: 90vw;
  margin: 150px auto;
}
.header {
  width: 100%;
  text-align: center;
}
.author {
  width: 40%;
  margin: 0 20% 0 40%;
  font-style: italic;
}
.subheader {
  width: 20%;
  margin: 10% 40% 0 45%;
}
.description {
  width: 60%;
  height: 50px;
  margin: 0 20% 0 20%;
  text-align: center;
}
.chapter {
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  font-style: italic;
}
.maintext {
  width: 80%;
  margin: 0 10% 0 10%;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  body {
    background-color: blue;
  }
}

@media only screen and (max-width: 800px) {
  body {
    background-color: yellow;
  }
}
