h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #114B5F;
  font-size: 75px;
}
h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #102542;
  font-size: 35px;
}
.container {
  background-color: #70A37F;
  margin: 400px;
}
a {
  color: #102542;
}
a:hover {
  color: #E3D26F;
}
body {
  background-color: #14281D
}
