h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
  color: maroon;
  font-size: 30px;
}
body {
  background-color: white;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  /* margin can control top, right, bottom, and left in that order*/
  margin: 50px;
}
.container {
  width: 800px;
  margin: 100px auto;
}
.header {
  font-size: 20px;
  font-style: italic;
  text-align: left;
}
.intro {
  color: grey;
  font-size: 10px;
  text-align: center;
}
.list {
  margin: 5px 50px;
  list-style-type: none;
}
