body {
  margin: 0;
  overflow-x: hidden;
}
.container {
 width: 130vw;
 margin: -50px -10%;
}
.block-1, .block-2, .block-3, .block-4 {
  width: 100px;
  height: 100px;
  float: left;
  /* opacity: .7; */
}
.block-1 {
  color: blue;
  margin: -15px;
}
.block-2 {
  color: navy;
  margin: -5px;
}
.block-3 {
  color: grey;
  margin: -15px;
}
